{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ma page d'accueil</h1>
    <a href="{{ path('app_contact', {id : age}) }}">Aller vers contact</a>
    <p>Nom : {{ name|upper }}, Age : {{ age }}</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae debitis autem nihil libero ab, consequuntur numquam
        cum eum dolores reprehenderit, officia dolore quisquam soluta. Unde quod nemo voluptate voluptatibus quis dicta
        doloribus dolor, dolorem sunt reiciendis maiores omnis odit repellendus. At delectus facilis blanditiis
        voluptate ad error optio, quasi consequatur.</p>
{% endblock %}